<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>Adicionar documentos</h5>
      </div>
      <p class="col-sm-6 positionRequired">
        * Campos obrigatórios
      </p>
    </div>
    <div>
      <form [formGroup]="_formTransparencia" novalidate>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="titulo" class="form-control-label">Título <span class="required">*</span></label>
            <input class="form-control" formControlName="titulo" type="text" placeholder="Título" id="titulo">
          </div>
          <div class="form-group col-sm-6">
            <label for="descricao" class="form-control-label">Descrição <span class="required">*</span></label>
            <input class="form-control" formControlName="descricao" type="text" placeholder="Descrição..."
              id="descricao">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="categoria" class="form-control-label">Categoria <span class="required">*</span></label>
            <select class="form-control" formControlName="categoria" id="categoria">
              <option [ngValue]="null">Selecione</option>
              <option *ngFor="let option of selectOptionCategory">{{option.value}}</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="arquivo" class="form-control-label">Documento <span class="required">*</span></label>
            <input type="file" formControlName="arquivo" class="form-control-file" id="arquivo">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 positionButtons">
            <button type="button" *ngIf="_formTransparencia.dirty" class="btn btn-outline-danger btn-sm"
              (click)="canCancel()">Cancelar</button>
            <button type="button" class="btn btn-outline-success btn-sm"
              [disabled]="!_formTransparencia.valid">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>