<div class="container marginTopBottomContentContainer">
    <h2 class="text-center">Doação</h2>
    <hr>

    <h4 class="font-weight-bold text-center text-uppercase pt-2 text-muted">Doação com pagamento único</h4>
    <p class="text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

    <div class="row mt-3 mb-3">
        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$20,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$20,00 para o Asilo de Ibitinga.
                    </p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$30,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$30,00 para o Asilo de Ibitinga.
                    </p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$50,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$50,00 para o Asilo de Ibitinga.
                    </p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$100,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$100,00 para o Asilo de Ibitinga.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-info">Doar qualquer outro valor</button>
    </div>

    <hr class="m-5">
    <h4 class="font-weight-bold text-center text-uppercase pt-2 text-muted">Assinaturas com pagamentos mensais recorrentes
    </h4>
    <p class="text-center mb-5">Caso tenha interesse em nos ajudar todos os meses, facilitamos o procedimento com débitos automáticos em seu cartão de crédito com planos de assinaturas mensais. Dessa forma você faz sua doação de forma prática e rápida, podendo cancelar a qualquer
        momento.
    </p>

    <div class="row mt-3 mb-3">
        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$20,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$20,00 para o Asilo de Ibitinga com pagamentos menasais automáticos</p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$30,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$30,00 para o Asilo de Ibitinga com pagamentos menasais automáticos</p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$50,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$50,00 para o Asilo de Ibitinga com pagamentos menasais automáticos</p>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="card pt-3 pb-2" href="#">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Quero doar R$100,00</h3>
                    <p class="card-text text-center">Aqui você pode doar a quantia de R$100,00 para o Asilo de Ibitinga com pagamentos menasais automáticos</p>
                </div>
            </a>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-info">Doar qualquer outro valor mensal</button>
    </div>

</div>