.nav-link:hover {
    margin-top: -2px;
    border-radius: 0px;
    border-bottom: 2px solid rgb(239, 84, 85)
}

.active {
    margin-top: -2px;
    border-radius: 0px;
    border-bottom: 2px solid rgb(239, 84, 85)
}

.bg-header-opaque {
    background-color: rgb(43, 50, 82);
    -webkit-box-shadow: 0px 6px 9px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 9px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 9px -6px rgba(0, 0, 0, 0.75);
}

.navbar {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar-wrapper {
    position: relative;
}