
<div class="jumbotron">
  <div class="container">
    <h2 class="font-weight-bold text-center text-uppercase">Perguntas Frequentes</h2>
  </div>    
</div>

<div style="width: 40%; font-size:18px" class="align-middle text-center mx-auto">
  <h4>Qual o horario de funcionamento?</h4>
  <p style="text-align: justify;text-indent: 5%;">Lorem ipsum suscipit turpis varius tincidunt egestas sociosqu diam ad suspendisse fames ultricies, etiam pharetra consectetur neque blandit facilisis odio eget taciti fames integer lacinia, mi consectetur posuere sodales taciti et leo vivamus augue etiam habitant. luctus platea dolor facilisis primis sollicitudin placerat hendrerit malesuada a venenatis, velit vulputate urna diam leo quisque turpis donec fringilla, fermentum velit sed platea id consectetur egestas felis vehicula. fringilla lectus ornare integer adipiscing suspendisse lectus nec nulla habitant condimentum, ante class metus bibendum posuere turpis placerat lacinia vehicula, massa blandit turpis vestibulum nisi euismod nunc mattis bibendum.</p>
  <hr>
  <h4>Perguntas do dia de ontem</h4>
  <p style="text-align: justify;text-indent: 5%;">Lorem ipsum fermentum ut diam porta ornare conubia metus, fermentum facilisis sapien turpis habitant neque donec vulputate, imperdiet porttitor urna pulvinar ultricies donec est. tempus lobortis purus convallis ac augue sollicitudin aliquam nunc, vel convallis ultricies cras fermentum tortor tempor. </p>
</div>

