.menuPosition {
    left: 10px;
}

a {
    color: rgb(43, 50, 82);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    color: rgb(43, 50, 82);
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(43, 50, 82);
    border-style: none;
}

a.active:hover {
    color: rgb(255, 255, 255)
}

.dropdown-item.active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(43, 50, 82);
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

button:disabled {
    pointer-events: none;
}

.sizeTextCard {
    height: 120px;
    text-align: justify;
    text-justify: inter-word;
}