<div class="container-fluid marginTopBottomContentContainer">

  <h2 class="titlePage">Portal da Transparência</h2>
  <hr>
  <div>
    <div class="btnPeriodSearch">

      <div class="btn-group marginDropdown" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-info btn-sm dropdown-toggle"
          aria-controls="dropdown-basic">
          Ordenar por <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuItem">
            <a *ngFor="let item of dropdownOrderMenuItems" class="dropdown-item"
              [class.active]="item === dropdownOrderSelectedItem"
              (click)="onSelectOrderDropdownMenu(item)">{{item.option}}</a>
          </li>
        </ul>
      </div>

      <!-- Botão para acionar modal -->
      <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#modalPeriodSearch">
        Buscar por período
      </button>
      <!-- Modal -->
      <div class="modal fade" id="modalPeriodSearch" tabindex="-1" role="dialog"
        aria-labelledby="modalPeriodSearchLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalPeriodSearchLabel">Buscar por Período</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form [formGroup]="dateBetweenFilterForm" novalidate>
                <div class="form-row align-items-center alignContentInsideModal">
                  De &nbsp;
                  <div class="col-sm-5 my-1">
                    <input type="date" class="form-control" formControlName="dateStart">
                  </div>&nbsp;&nbsp;
                  Até &nbsp;
                  <div class="col-sm-5 my-1">
                    <input type="date" class="form-control" formControlName="dateFinish">
                  </div>
                </div>
              </form>

            </div>
            <div class="modal-footer">
              <button *ngIf="!dateBetweenFilterForm.pristine" type="submit" class="btn btn-outline-danger btn-sm"
                (click)="onClickCleanInputFieldsDateSearch()">Limpar</button>
              <button #closeModal type="submit" class="btn btn-outline-info btn-sm" data-dismiss="modal"
                (click)="onClickFilterDate()" [disabled]="!dateBetweenFilterForm.valid"><b><i
                    class="fa fa-search"></i></b></button>
            </div>
          </div>
        </div>
      </div>

      <button *ngIf="filterCategory || filterDate || order" type="button"
        class="btn btn-outline-danger btn-sm marginClearFilter" (click)="clearConditions()">Limpar
        filtros </button>

    </div>
    <br />

    <div class="row">

      <div class="list-group col-3 menuPosition">
        <a *ngFor="let item of categoryMenuItems" class="list-group-item list-group-item-action"
          [class.active]="item === categorySelectedItem" (click)="onSelectCategoryMenu(item)">{{item.option}}</a>
      </div>



      <div class="col-9">

        <app-loading [condition]="isLoading"></app-loading>
        <div *ngIf="documents && statusResponse == 200" class="accordion" id="accordion">
          <app-documents-collapse
            *ngFor="let document of documents | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }"
            [document]="document"></app-documents-collapse>
        </div>
        <div *ngIf="!isLoading && !documents">
          <p class="notData">{{messageApi}}</p>
        </div>
      </div>

    </div>

    <br />

    <nav *ngIf="documents">
      <ul class="pagination">
        <pagination-controls (pageChange)="getPage($event)" previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>

  </div>