#arrowDownIconCollapse {
    position: absolute;
    right: 10px;
    top: 13px;
}

.accordionSizeAndPosition {
    width: 75%;
}

.menuPosition {
    left: 10px;
}

.alignContentInsideModal {
    justify-content: center;
}

.btnPeriodSearch {
    text-align: end;
}