nav{
  width: 96.5%;
  text-align: center;
}

.question {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
}
.question input,
.question .answer {
  display: none;
  justify-content: center;
  font-size: 12px;
  width: 90%;
  padding-left: 10%;
  }
.question label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  text-justify: inter-word;        
}
.question input:checked ~ .answer {
  display: block;
}