<div class="container-fluid marginTopBottomContentContainer">
  <h2 class="titlePage">Dúvidas Frequentes</h2>
  <hr>
  <div *ngIf="faqs && statusResponse == 200">
    <div class="col-9 center">
      <app-loading [condition]="isLoading"></app-loading>
      <div *ngFor="let faq of faqs | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
        <div class='question'>
          <input type='checkbox' id='question-{{faq["_id"]}}'>
          <label for='question-{{faq["_id"]}}'>{{faq["pergunta"]}}</label>
            <div class='answer'>
              {{faq["resposta"]}}
            </div>
        </div>
      </div>
      <div *ngIf="!isLoading && statusResponse == 200 && !faqs">
        <app-no-data></app-no-data>
      </div>
      <div *ngIf="!isLoading && statusResponse != 200 && !faqs">
        <app-error></app-error>
      </div>
    </div>
    <br/>
    <nav *ngIf="faqs">
      <ul class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>
