<div class="container-fluid" id="marginTopBottomContentContainer">
  <h2>Perguntas Frequentes</h2>
</div>

<div *ngIf="faqs; else notData">
  <div *ngFor="let faq of faqs">
      <div class='question'>
        <input type='checkbox' id='question-{{faq["_id"]}}'>
        <label for='question-{{faq["_id"]}}'>{{faq["pergunta"]}}</label>
          <div class='answer'>
            {{faq["resposta"]}}
          </div>
      </div>
  </div>
</div>
<ng-template #notData>
<p class="notData">Lamentamos pelo inconveniente, mas ainda não temos perguntas frequentes. Para que possamos ajuda-lo <a [routerLink]="['/contato']" class="nav-link">entre em contato</a> conosco!</p>
</ng-template>
