<div class="container-fluid" id="marginTopBottomContentContainer">
  <h2>Dúvidas Frequentes</h2>
</div>

<app-loading [condition]="isLoading"></app-loading>
<div *ngIf="faqs && statusResponse == 200; else notData">
  <div *ngFor="let faq of faqs | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
      <div class='question'>
        <input type='checkbox' id='question-{{faq["_id"]}}'>
        <label for='question-{{faq["_id"]}}'>{{faq["pergunta"]}}</label>
          <div class='answer'>
            {{faq["resposta"]}}
          </div>
      </div>
  </div>
  <div *ngIf="!isLoading && !faqs">
    <app-no-data [message]="messageApi"></app-no-data>
  </div>
  <br />
  <nav *ngIf="faqs">
    <ul class="pagination">
      <pagination-controls (pageChange)="getPage($event)" previousLabel="Anterior" nextLabel="Próximo">
      </pagination-controls>
    </ul>
  </nav>
</div>

