.infoDocs {
    font-style: italic;
    color: #bdbdbd
}

.btnDownload {
    text-align: end;
}

.text-primary {
    color: rgb(43, 50, 82) !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: rgb(43, 50, 82)!important;
}

div:after {
    display: none;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(-90deg);
}