<div class="card">
  <div class="card-header" id="headingOne">
    <h6 class="mb-0">
      {{document['titulo']}}
      <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+document['_id']"
        aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-chevron-down" id="arrowDownIconCollapse"></i>
      </button>
    </h6>
  </div>
  <div [id]="'collapse'+document['_id']" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      {{document['descricao']}}
      <br>
      <small class="infoDocs"><b>Categoria: </b> {{document['categoria']}}</small>&nbsp;
      <small class="infoDocs"><b>Postado em: </b> {{document['date'] | date: 'dd/MM/yyyy'}}</small>
      <hr>
      <button type="submit" class="btn btn-outline-success btn-sm float-right">Download</button>
      <br />
    </div>
  </div>
</div>