<div class="container-fluid" id="marginTopBottomContentAbout">
  <h2>Sobre Nós</h2>
  <hr>
  <div *ngIf="sobre; else notData">
    <h3 class="tituloSobre">{{sobre['titulo']}}</h3>
    <img class="imagemSobre" [src]="sobre['imagem']" [alt]="sobre['titulo']">
    <br>
    <div class="conteudoSobre">
      <p>{{sobre['descricao']}}</p>
      <p>Para mais informações acesse nossa página de <a [routerLink]="['/contato']">Contato</a>.</p>
    </div>
  </div>
  <ng-template #notData>
    <p class="notData">Não há texto para ser exibido!</p>
  </ng-template>
</div>