<div class="container-fluid" id="marginTopBottomContentAbout">
  <h2>Sobre Nós</h2>
  <hr>
  <div *ngIf="sobre; else notData">
    <h1 class="tituloSobre">{{sobre['titulo']}}</h1>
    <img class="imagemSobre" [src]="sobre['imagem']" [alt]="sobre['titulo']">
    <p class="conteudoSobre">{{sobre['descricao']}}</p>
    <p>Venha nos visitar, <a [routerLink]="['/contato']">Contatos</a>.</p>
  </div>
  <ng-template #notData>
    <p class="notData">Não há texto para ser exibido!</p>
  </ng-template>
</div>