/* PARA TESTES */

div {
    border: 3px solid black;
}

table td.td-dir, td.td-dir img {
    border: 1px solid red;
}

td.td-esq {
    border: 1px solid green;
}

div#redes-sociais p {
    background-color: blue;
}

/* CSS EM USO */

/* CSS DO ESTILO DA PÁGINA */
/* como aqui vai ser padronizado para todos, não seria interessante
colocar em uma folha universal? */
#marginTopBottomCardsContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

#marginBottomCardsCol {
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

/* ESTRUTURAÇÃO */
div#container {
    /* float: left; */
    display: block;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

div#informacoes, div#mapa, div#redes-sociais {
    position: relative;
    display: block;
    float: left;
    margin: 20px;
    padding: 10px;
    /* width: 550px; */
    /* width: 50%; */
}

div#informações {
    width: 45%;
}

div#mapa {
    /* float: left; */
    /* width: 480px; */
    width: 50%;
}

div#redes-sociais {
    clear: both;
    margin-left: 40px;
}

/* CONFIGS NA SEÇÃO DE INFORMAÇÃO */
table {
    border-collapse: separate;
    border-spacing: 20px 30px;
    /* margin: auto; */
}

table td.td-dir, td.td-dir img {
    width: 40px;
    height: 40px;
}

td.td-esq {
    position: relative;
    width: 300px;
}

td span {
    display: block;
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
    line-height: 25px;
}

/* CONFIG DA API DO GOOGLE MAPS */
div#mapa agm-map {
    position: relative;  
    /* float: right; */
    width: 500px;
    height: 250px;
}

/* CONFIG DA SEÇÃO DE REDES SOCIAIS */
/* section#redes-sociais {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin: auto;
} */

div#redes-sociais img {
    width: 80px;
    height: 80px;
    margin: 0px 2px 2px 0px;
}

div#redes-sociais p {
    display: block;
    font-weight: bolder;
    font-size: 20px;
}

/* AUTORIA DE ÍCONES */
span#toHidden {
    opacity: 0;
}