<div id="margin">
  <div class="btn-toolbar justify-content-between">
    <div>
      <h2>Notícia</h2>
    </div>
    <div>
      <button class="btn btn-warning-outline text-green">Adicionar</button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm" (click)="setOrder('titulo')" [class.active]="order === 'titulo'">Título <span
              [hidden]="!reverseTitulo">▼</span><span [hidden]="reverseTitulo">▲</span></th>
          <th class="col-sm" (click)="setOrder('date')" [class.active]="order === 'date'">Publicação <span
              [hidden]="!reverseDate">▼</span><span [hidden]="reverseDate">▲</span></th>
          <th class="col-sm" (click)="setOrder('status')" [class.active]="order === 'status'">Publicado ? <span
              [hidden]="!reverseStatus">▼</span><span [hidden]="reverseStatus">▲</span></th>
          <th class="col-sm acoes" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let noticia of noticias | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
          <td class="col-sm"> {{noticia.titulo}}</td>
          <td class="col-sm"> {{noticia.date}}</td>
          <td class="col-sm"> {{noticia.status}}</td>
          <td class="col-sm">
            <div>
              <button class="btn btn-warning-outline text-yellow">Editar</button>
              <button class="btn btn-danger-outline text-red">Deletar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav *ngIf="noticias">
      <ul class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>