.positionButtons {
    text-align: end;
}

.positionTitle {
    text-align: start;
}

.dropdown-item.active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(43, 50, 82);
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}