<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>Portal da Transparência</h5>
      </div>
      <div class="col-sm-6 positionButtons">
        <button type="button" class="btn btn-outline-success btn-sm">Adicionar</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Título <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Categoria <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Postado em <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Prestação de Contas 2019</th>
          <td>Prestação de Contas</td>
          <td>01/01/2020</td>
          <td>
            <button class="btn btn-outline-warning btn-sm">Editar</button>
            <button class="btn btn-outline-danger btn-sm">Apagar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">Relatório de Atividades - Janeiro 2020</th>
          <td>Relatório de Atividades</td>
          <td>02/02/2020</td>
          <td>
            <button class="btn btn-outline-warning btn-sm">Editar</button>
            <button class="btn btn-outline-danger btn-sm">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>