<div class="container-fluid marginTopBottomContentContainerAdminPanel">
  <div>
    <div class="row">
      <div class="col-sm-6 positionTitle">
        <h5>Portal da Transparência</h5>
      </div>
      <div class="col-sm-6 positionButtons">
        <div class="btn-group marginDropdown" dropdown>
          <button id="button-basic" dropdownToggle type="button"
            class="btn btn-outline-info-dkblue btn-sm dropdown-toggle" aria-controls="dropdown-basic">Filtrar<span
              class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuItem">
              <a *ngFor="let item of dropdownFilterMenuItems" class="dropdown-item"
                [class.active]="item === dropdownFilterSelectedItem"
                (click)="onSelectFilterDropdownMenu(item)">{{item.option}}</a>
            </li>
          </ul>
        </div>

        <button *ngIf="filterCategory" [@inOutAnimation] type="button"
          class="btn btn-outline-danger btn-sm marginDropdown" (click)="clearConditions()">Limpar
          filtros </button>

        <button type="button" class="btn btn-outline-success btn-sm">Adicionar</button>

      </div>
    </div>
    <app-loading [condition]="isLoading"></app-loading>
    <table *ngIf="!isLoading && statusResponse == 200" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Título <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Categoria <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Postado em <i class="fa fa-chevron-down"></i></th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
          <th scope="row">{{document['titulo']}}</th>
          <td>{{document['categoria']}}</td>
          <td>{{document['date'] | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button class="btn btn-outline-warning btn-sm">Editar</button>
            <button class="btn btn-outline-danger btn-sm">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!isLoading && !documents"></app-no-data>
    <nav *ngIf="documents">
      <ul class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>