.asilo-carousel .carousel-inner>.active, .asilo-carousel .carousel-inner>.next, .asilo-carousel .carousel-inner>.prev {
  display: table;
}

.asilo-carousel .carousel-control .icon-next, .asilo-carousel .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}

.asilo-carousel .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}

@media (max-width: 767px) {
  .asilo-carousel .container .carousel-control {
    margin-bottom: 0;
  }
}

.asilo-carousel .boxed-slider {
  position: relative;
  padding: 93px 0;
}

.asilo-carousel .boxed-slider>div {
  position: relative;
}

.asilo-carousel .container img {
  width: 100%;
}

.asilo-carousel .container img+.row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.asilo-carousel .asilo-section {
  padding: 0;
  background-attachment: scroll;
}

.asilo-carousel .asilo-table-cell {
  padding: 0;
}

.asilo-carousel .container .carousel-indicators {
  margin-bottom: 3px;
}

.asilo-carousel .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}

.asilo-carousel .asilo-overlay {
  z-index: 1;
}

.asilo-carousel .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}

.asilo-carousel .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@media (max-width: 576px) {
  .asilo-carousel .carousel-item .container {
    width: 100%;
  }
}

.asilo-carousel .carousel-item-next.carousel-item-left, .asilo-carousel .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.asilo-carousel .active.carousel-item-right, .asilo-carousel .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.asilo-carousel .active.carousel-item-left, .asilo-carousel .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.asilo-carousel .asilo-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}

.asilo-carousel .asilo-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}

.asilo-carousel .asilo-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}

.asilo-carousel .asilo-slider .carousel-control .asilo-iconfont {
  font-size: 2rem;
}

@media (max-width: 767px) {
  .asilo-carousel .asilo-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}

.asilo-carousel .asilo-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}

.asilo-carousel .asilo-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}

.asilo-carousel .asilo-slider .carousel-indicators li.active, .asilo-carousel .asilo-slider .carousel-indicators li:hover {
  opacity: .9;
}

.asilo-carousel .asilo-slider .carousel-indicators li::after, .asilo-carousel .asilo-slider .carousel-indicators li::before {
  content: none;
}

.asilo-carousel .asilo-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}

@media (max-width: 576px) {
  .asilo-carousel .asilo-slider .carousel-indicators {
    display: none !important;
  }
}

.asilo-carousel .asilo-slider>.container img {
  width: 100%;
}

.asilo-carousel .asilo-slider>.container img+.row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.asilo-carousel .asilo-slider>.container .carousel-indicators {
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  .asilo-carousel .asilo-slider>.container .carousel-control {
    margin-bottom: 0;
  }
}

.asilo-carousel .asilo-slider .asilo-section {
  padding: 0;
  background-attachment: scroll;
}

.asilo-carousel .asilo-slider .asilo-table-cell {
  padding: 0;
}

.asilo-carousel .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}

.asilo-carousel .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.asilo-carousel .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}

.asilo-carousel .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}

.asilo-carousel .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.asilo-carousel .full-screen .carousel-item .container.container-slide img {
  display: none;
}

.asilo-carousel .asilo-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.asilo-carousel .asilo-overlay~.container-slide {
  z-index: auto;
}

.asilo-carousel P {
  color: #ffffff;
}

.asilo-carousel H2 {
  color: #ffffff;
}