.donate-online {
    margin-top: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #2B3252;
    color: #fff;
}

.btn {
    font-size: 18px;
    margin-top: 15px;
    padding: 12px 45px 12px 45px;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

.btn-primary{
    background-color: #2F3C7E !important;
    border-color: #2B3252 !important;
    color: #ffffff !important;
}

.btn-secondary{
    background-color: #EF5455 !important;
    border-color: #EF5455 !important;
    color: #ffffff !important;
}

.btn-secondary:hover{
    background-color: #ec003b !important;
    border-color: #ec003b !important;
}

.visit-home {
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-img-top:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.card-img-top {
    transition: 0.3s;
}