.table-wrapper {
    width: 100%;
    margin: 5% auto;
    /* background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}