<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-8">
        <h2>Dúvidas Frequentes</h2>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-outline-success">Adicionar</button>
      </div>
    </div>
  </div>
  <div *ngIf="faqs && statusResponse == 200">
    <table class="table table-bordered" id="table-boby">
      <thead>
        <tr *ngIf="faqs && statusResponse == 200">
          <th>Ordenação</th>
          <th>Pergunta</th>
          <th>Resposta</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table table-striped">
        <tr *ngFor="let faq of faqs | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
          <td>{{faq["ordenar"]}}</td>
          <td>{{faq["pergunta"]}}</td>
          <td>{{faq["resposta"]}}</td>
          <td>
            <button type="button" class="btn btn-outline-warning" id='editar-{{faq["_id"]}}'>Editar</button>
            <button type="button" class="btn btn-outline-danger" id='deletar-{{faq["_id"]}}'>Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <nav *ngIf="faqs">
      <ul class="pagination">
        <pagination-controls (pageChange)="getPage($event)" previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>