.conteudoNoticia {
    text-align: justify;
    text-justify: inter-word;
}

.dataNoticia {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #bdbdbd
}

.imagemNoticia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 20%;
}