<div class="container-fluid marginTopBottomContentContainer">
    <app-loading [condition]="isLoading"></app-loading>
    <div *ngIf="noticia">
        <h2 class="titlePage">{{noticia['titulo']}}</h2>
        <p class="dataNoticia">Publicado em {{noticia['date'] | date: 'dd/MM/yyyy'}}</p>
        <img *ngIf="hasImage" class="imagemNoticia" [src]="noticia['imagem'][0]['src']">
        <hr>
        <p class="conteudoNoticia">{{noticia['descricao']}}</p>
    </div>
    <div *ngIf="noticia && hasMultipleImages">
        <hr>
        <h2 class="titlePage">Galeria</h2>
        <app-gallery [images]="noticia['imagem']"></app-gallery>
    </div>
    <div *ngIf="!isLoading && !noticia">
        <app-no-data [message]="messageApi"></app-no-data>
    </div>
</div>