/* You can add global styles to this file, and also import other style files */

.marginTopBottomContentContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.titlePage {
    text-align: center;
}

.pagination {
    justify-content: center;
}