<div class="container-fluid mt--0">

  <!-- <form [formGroup]="filmeForm" (ngSubmit)="">
    <div class="form-group">
      <label for="txt-id-filme">ID do Filme</label>
      <input name="_id" formControlName="_id" type="text" class="form-control" id="txt-id-filme" readonly>
    </div>
    <div class="form-group">
      <label for="txt-nome-filme">Nome do Filme</label>
      <input name="nome" formControlName="nome" type="text" class="form-control" id="txt-nome-filme">
    </div>
    <div class="form-group">
      <label for="txt-descricao-filme">Descrição do Filme</label>
      <input name="descricao" formControlName="descricao" type="text" class="form-control" id="txt-descricao-filme">
    </div>
    <div class="form-group">
      <label for="txt-duracao-filme">Duração do Filme</label>
      <input name="duracao" formControlName="duracao" type="text" class="form-control" id="txt-duracao-filme">
    </div>
    <div class="form-group">
      <label for="txt-diretor-filme">Diretor do Filme</label>
      <input name="diretor" formControlName="diretor" type="text" class="form-control" id="txt-diretor-filme">
    </div>
    <div class="form-group">
      <label for="txt-genero-filme">Gênero do Filme</label>
      <input name="genero" formControlName="genero" type="text" class="form-control" id="txt-genero-filme">
    </div>
    <button type="submit" [disabled]="!filmeForm.valid" class="btn btn-primary">Submit</button>
  </form> -->

  <p>contato-admin funfando legal!</p>
  <button (click)="getTeste()" >Click me</button>

</div>